<h1>Edit: <%= crud_label(@publisher) %></h1>
<%= docs_panel(
      intro: "A derived form. <code>fieldset :form</code> chooses the editable fields; the permit list is the gem's <code>crud_attribute_names</code>, kept in lockstep with the form.",
      docs: { 'Forms' => 'docs/forms.md', 'Fieldsets' => 'docs/views.md#fieldsets' }) do %>
<%= code_file('app/models/publisher.rb') do %>
crud_structure do
  fieldset :form, %i[name slug founded_on]
end
<% end %>
<%= code_file('app/controllers/publishers_controller.rb') do %>
def publisher_params
  params.require(:publisher).permit(*Publisher.crud_attribute_names(:update, ability: current_ability))
end
<% end %>
<%= code_file('app/views/publishers/edit.html.erb', :erb) do %>
&lt;%= crud_form @publisher %&gt;
<% end %>
<% end %>
<div class="card"><div class="card-body">
  <%= crud_form @publisher %>
</div></div>
