<%# One collection table row. Locals: collection, record, css. %>
<tr id="<%= dom_id(record) %>">
  <% collection.fields.each do |field| %>
    <td><%= collection.cell(field, record) %></td>
  <% end %>
  <% if collection.actions_column? %>
    <td class="<%= css.actions_cell %>">
      <% if collection.custom_actions_partial %>
        <%= render collection.custom_actions_partial, record: record %>
      <% else %>
        <%= render 'crud_components/actions', actions: collection.row_actions(record) %>
      <% end %>
    </td>
  <% end %>
</tr>
